.carouselStyle {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    margin: 20px 0;
}

.imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrowStyleL {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
}

.arrowStyleR {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    height: 400px;
}

.carousel-image-enter {
    position: absolute;
    opacity: 0;
    transform: scale(1.1); 
    transition: opacity 2s ease-in-out;
}

.carousel-image-enter.carousel-image-enter-active {
    opacity: 1;
    transform: scale(1);
}

.carousel-image-exit {
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.326);
    transform: scale(1); 
    transition: all 2s ease-out;
}

.carousel-image-exit-active {
    opacity: 0;
    transform: scale(0.9); /* End slightly zoomed out */
}