*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    backdrop-filter: blur(20px);
}
.main-logo {
    height: 30px;
    border-radius: 70%;
}
li{
    
    list-style: none;
    /* padding: 0px 16px; */
    font-size: 17px;
}

@media only screen and (max-width:1000px) {
    li{
        font-size: 10px;
        /* background-color: red; */
    }
}