.item-img{
    height: 250px;
    width: 100%;
    z-index: 1;
}
.category-cards{
    height: 300px;
    /* z-index: 1; */
    /* background: url('https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&w=600'); */
}
.items-details{
    position: relative;
    z-index: 2;
    top: -100px;
}