.cards {
    background-color: rgb(203 213 225);
    border-radius: 20px;
    text-align: center;
}

.card {
    display: inline-block;
    width: 225px;
    height: 175px;
    margin: 0px 2px;
    border-radius: 15px;
    background-color: rgb(241 245 249);
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    transition: all 0.2s ease-out;
}
.card:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.400);
}

.cardContent {
    align-items: start;
    margin-top: auto;
    height: 100%;
}

.img-logo {
    height: 60px;
    padding: 15px;
    background-color: rgb(229, 250, 251);
    border-radius: 70%;
    transition: all 0.1s linear;
}

.img-logo:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
}

.logo {
    font-size: 25px;
    padding: 1px 7px;
    background-color: rgb(121, 231, 231);
    border-radius: 70%;
    transition: all 0.1s linear;
}

.logo:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
}