.orderCard{
    display: inline-block;
    width: 280px;
    height: 220px;
    margin: 0px 2px;
    border-radius: 15px;
    background-color: rgb(241 245 249);
    overflow: hidden;
}
.order-img{
    height: 100px;
    width: 100px;
}
.bg-order{
    background-color: rgb(223, 237, 254);
}