.product-image{
  height: 110px;
  width: 110px;
}
.scroll-bar{
  overflow-x: auto;
}
.scroll-bar::-webkit-scrollbar{
  /* background-color: black; */
  width: 10px;
  height: 3px;
}

.card{
  height: 200px;
  width: 300px;
}
