/* LoginPage.css */
* {
    margin: 0;
    padding: 0;
}

.login-page {
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
}
